.logo {
  display: block;
  width: 220px;
  height: 42px;
  padding: 10px 15px 10px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  background-color: $acient-red;
  box-shadow: 0 5px 0 0 $acient-red-border;

  &[href]:hover {
    background-color: $acient-red-hover;
  }

  &[href]:active {
    background-color: $acient-red-active;
  }

  &--footer {
    height: 63px;
    padding: 18px 15px 10px;

    font-size: 30px;
    line-height: 30px;
  }
}