.mail {
  width: 560px;
  padding: 5px;
  color: $black-text-color;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-color: $white;
  background-image: url('../img/background/background-postel.jpg');

  &__wrapper {
    padding: 28px 20px 35px 22px;
    color: $black-text-color;
    background-color: $submenu-background;
    border-radius: 16px;
  }

  &__text {
    margin-bottom: 36px;
  }

  &__form {
    display: flex;
  }

  &__field {
    width: 368px;
    margin-right: auto;
  }

  &__button {
    width: 129px;
  }

}