.map {
  z-index: 150;
  width: 940px;
  height: 446px;
  margin-left: -470px;
  background-image: url('../img/background/map-large.jpg');
  background-repeat: no-repeat;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}