.modal {
  &__overlay {
    display: none;
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);

    &.modal-overlay-visually {
      display: block;
    }
  }

  &__map, &__write {
     display: none;
   }

  &__popup {
    position: fixed;
    z-index: 150;
    top: 35px;
    left: 50%;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
  }

  &__popup-close {
    z-index: 1;
    position: absolute;
    top: 16px;
    right: 13px;

    width: 21px;
    height: 21px;

    border: none;
    background-color: transparent;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 9px;
      left: -1px;

      width: 27px;
      height: 4px;
      background-color: $acient-red;
      border-radius: 2px;
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
