.new  {
  position: absolute;
  right: 0;
  top: 0;

  width: 60px;
  height: 59px;
  background-image: url('../img/background/new-flag.png');
  background-position: top right;
  background-repeat: no-repeat;
}