.write {
  z-index: 150;
  margin-left: -320px;
  padding-top: 46px;
  width: 620px;

  background-color: $white;
  border-top: 7px solid $acient-red;

  &__form-top {
    display: flex;
    margin-bottom: 20px;
    padding: 0 80px;
  }

  &__label-top {
    width: 220px;

    &:first-child {
      margin-right: auto;
    }
  }

  &__label-text {
    display: block;
    margin-bottom: 10px;

    @include text(18px, 18px);
  }

  &__field {
    padding: 9px 14px 7px;
    width: 100%;
    border: 2px solid #dee3e4;
    border-radius: 2px;
    background-color: $white;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    color: black;

    ::placeholder {
      font-size: 13px;
      line-height: 18px;
      color: #dee3e4;
    }
  }

  &__text {
    height: 113px;
  }

  &__label {
    display: block;
    margin-bottom: 29px;
    padding: 0 80px;
  }

  &__button {
    width: 460px;
  }

  &__form-bottom {
    padding: 37px 80px;
    background-color: #f4f4f4;
  }

}