header.main-header
    .main-header__top
        .main-header__top-wrapper.container
            if (mainPage)
                a.main-header__logo.logo ТЕХНОМАРТ
            else
                a.main-header__logo.logo(href='index.html') ТЕХНОМАРТ
            form.main-header__search.search(action='#', method='post')
                input.search__field(type='text', name='searchText', placeholder='Поиск:')
                +icon('search__icon', 'search', 17, 17, {ariaHidden: 'true', role: 'presentation'})
                button.visually-hidden(type='submit', aria-label='Кнопка поиска') Найти
            a.main-header__bookmark.bookmark(href='#')
                +icon('main-header__icon bookmark__icon', 'bookmark', 14, 16, {ariaHidden: 'true', role: 'presentation'})
                | Закладки:
                span.bookmarks__count  0
            if (cartCount)
                a.main-header__cart.cart.cart--red(href='#')
                    +icon('main-header__icon cart__icon', 'cart', 15, 15, {ariaHidden: 'true', role: 'presentation'})
                    | Корзина:
                    span.cart__count= ' ' + cartCount
            else
                a.main-header__cart.cart(href='#')
                    +icon('main-header__icon cart__icon', 'cart', 15, 15, {ariaHidden: 'true', role: 'presentation'})
                    | Корзина:
                    span.cart__count  0
            a.main-header__checkout.checkout(href='#') Оформить заказ
    .container
        .main-header__middle
            p.main-header__description Интернет-магазин строительных материалов и инструментов для ремонта
            .main-header__address
                a.main-header__phone(href="tel:+78125550555")
                    +icon('main-header__phone-icon', 'phone', 19, 19, {ariaHidden: 'true', role: 'presentation'})
                    | +7 (812) 555-05-55
                p.main-header__address-text г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8
            if (logout)
                ul.main-header__login.login
                    li.login__item
                        a.login__link.login__link--enter(href='#') Войти
                            +icon('login__icon', 'login', 20, 17, {ariaHidden: 'true', role: 'presentation'})
                    li.login__item
                        a.login__link(href='#') Регистрация
            else
                .main-header__logout.logout
                    a(href='#')
                        p.logout__name
                            +icon('logout__icon logout__icon--user', 'user', 20, 18, {ariaHidden: 'true', role: 'presentation'})
                            | Равшан Джамшутович
                            +icon('logout__icon logout__icon--logout', 'logout', 21, 17, {ariaHidden: 'true', role: 'presentation'})
                    ul.logout__list
                        li.logout__item
                            a.logout__link(href='#') Мои заказы
                        li.logout__item
                            a.logout__link(href='#') Личный кабинет
        nav.main-header__navigation.navigation
            ul.navigation__list
                li.navigation__item
                    a.navigation__link(hrer='#') Главная
                li.navigation__item
                    a.navigation__link(hrer='#') Компания
                li.navigation__item
                    a.navigation__link(hrer='#') Каталог
                li.navigation__item
                    a.navigation__link(hrer='#') Новости
                li.navigation__item
                    a.navigation__link(hrer='#') Спецпредложения
                li.navigation__item
                    a.navigation__link(hrer='#') Доставка
                li.navigation__item
                    a.navigation__link(hrer='#') Контакты