//- script(src='js/libs.min.js')
//- script(src='js/svgAll.js')
//- script(src='js/picturefill.js', async)
//- script(src='js/popup.js')
//- script(src='js/forIE.js')
//- script(src='js/scripts.js')
script(src='js/scripts.min.js')
