$white: #ffffff;
$black: #000000;

$acient-red: #ee3643;
$acient-red-hover: #ca2c37;
$acient-red-active: #ba2732;
$acient-red-border: #9a212a;

$acient-green: #63a63e;
$acient-green-hover: #5fbb2d;
$acient-green-active: #518534;
$acient-green-border: #367315;

$acient-blue: #32425c;
$acient-blue-hover: #212a3a;
$acient-blue-active: #161d29;
$acient-blue-border: #293449;

$blue-text: #32425c;
$yellow-text: #ffcc99;

$user-icon-color: #c5c5c5;
$user-icon-hover: #32425c;

$send: #ffbf47;
$light-send: #ffc047;
$light-blue: #3bbce3;
$light-purpul: #dc91d8;
$light-green: #8ed78f;

$header-background: #f4f7f9;
$popular-background: #f9f5f0;

$product-border: #eaeaea;
$product-oldPrice: #aaaaaa;

$label: #c5c5c5;
$label-hover: #b5b5b5;
$label-disabled: #e9e9e9;

$tablet-width: 768px;
$desctop-width: 1088px;
$mobile-width-only: 767px;